.details-page-default{
  color: #141414;
}

.img-recipe {
  width: 100vw;
}

.header-details-container {
  display: flex;
  justify-content: space-between;
  margin: 15px 5px 0;
}

.details-recipe-container {
  margin: 0 12px 70px;
}

.title-recipe {
  font-size: 40px;
  margin-right: 40px;
  text-align: center;
}

.title-recipe-drink {
  font-size: 40px;
  margin-right: 5px;
  text-align: center;
}

.subtitles-recipe {
  font-size: 26px;
}

.category {
  font-size: 22px;
  font-style: italic;
}

.icon-btn {
  background-color: #98A93E;
  margin-right: 5px;
  padding: 5px;
}

.icon-btn:hover {
  background-color: rgb(163, 182, 71);
}

li {
  list-style-type: none;
  margin-left: 10px;
}

.ingredients-list {
  background-color: #C5995A;
  padding: 5px;
}

.instructions-container {
  background-color: #C5995A;
}
.instructions-text {
  margin: 0 10px 20px;
  padding: 5px;
  text-align: justify;
}

.img-recipe-details {
  width: 150px;
}

.button-recipe {
  background-color:#98A93E;
  border: 1px solid #69443B;
  border-radius: 8px;
  bottom: 0;
  color: #141414;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
  padding: 10px;
  position: fixed;
}

.button-recipe:hover {
  background-color: rgb(163, 182, 71);
}

.icon-button {
  margin: 10px;
}

.recommended-container {
  display: flex;
  overflow-x: scroll;
}

.recommended-card {
  border: 1px solid gray;
  border-radius: 8px;
  box-shadow: 3px 3px 3px dimgray;
  margin-right: 8px;
}

.recommended-img {
  width: 150px;
}

.recommended-category-text {
  font-size: 18px;
  font-style: italic;
  margin: 3px auto 0;
  text-align: center;
}

.recommended-text {
  font-size: 20px;
  margin-bottom: 3px;
  text-align: center;
}

.selected {
  text-decoration: line-through;
}
