.thumbFood {
  margin: 5px;
  width: 20vw;
  height: 30vh;
}

.containerExhibition {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin:  40px 10px 50px;
}

.containerFood {
  margin: 15px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 4px 4px 4px;
}

.titleFood {
  font-size: 20px;
  margin: 10px;
  text-align: center;
}

.select-dropbox {
  margin-top: 55px;
}