.explore-content {
  display: flex;
  flex-direction: column;
}

.explore-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 40vh;
}

.buttons-explore {
  background-color: rgb(203, 211, 194);
  border: 1px solid rgb(155, 155, 155);
  border-radius: 7px;
  padding: 10px;
}

.buttons-explore:hover {
  background-color: rgb(195, 221, 163);
}

.buttons-explore:active {
  background-color: rgb(153, 167, 137);
}
