.footer-bar {
  align-items: center;
  background-color: #6d123f;
  bottom: 0;
  display: flex;
  height: 58px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.button-background {
  background-color: #6d123f;
  border: none;
  border-radius: 21px;
  height: 42px;
  margin: 8px;
  opacity: 0.8;
  padding: none;
  width: 42px;
}

.btn-food {
  height: 30px;
}
