.elements-container {
  margin: 20px 20px 70px;
}

.element-container {
  border: 1px solid gray;
  border-radius: 7px;
  box-shadow: 7px 5px 5px darkgrey;
  margin-bottom: 25px;
}

.title-recipe {
  text-align: center;
  font-size: 25px;
  margin: 5px;
}

.category-buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.category-buttons {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;
}